#app {
    height: 100%;

    #layout {
        height: 100%;

        #layout-header {
            height: 60px;
            padding: 0 25px;
            background-color: #fff;

            .trigger {
                font-size: 18px;
                cursor: pointer;
            }
        }

        #layout-content {
            margin: 20px;
            padding: 10px;
            overflow: hidden;
            background-color: #fff;
        }
    }
}